.mobile {
    padding: 50px 0;
    &__info {
        margin-top: 150px;
        &-img {
            margin-top: 24px;
            display: flex;
            @include breakpoint($w-576) {
                justify-content: center;
            }
        }
    }
    &-img {
        margin-right: 15px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__img {
        position: relative;
        &::after {
            content: url("../images/bg-phone.png");
            background-repeat: no-repeat;
            position: absolute;
            top: -80px;
            z-index: -1;
            @include breakpoint($w-1200) {
                left: -50px;
            }
        }
        @include breakpoint($w-768) {
            display: none;
        }
    }
}
.img-mobile {
    margin-left: 170px;
    margin-top: 50px;

}
