<footer class="footer">
    <div class="container">
        <div class="footer__head">
            <div class="footer__head-block-1">
                <div class="footer__head-logo">
                    <img src="assets/images/footer-logo.png" alt="">
                </div>
                <div class="footer__head-mail">
                    <a class="footer-a" href="tel:+88007078275">8 800 707-82-75</a>
                    <a class="footer-a" href="tel:+89388788895">8 (938) 878-88-95</a>
                    <a class="footer-a" href="mailto:info@profinline.ru">info@profinline.ru</a>
                </div>
                <div class="footer__head-btn">
                    <button class="btn btn--footer">Заказать звонок</button>
                </div>
            </div>
            <div class="footer__head-block-2">
                <div class="footer__head-address">
                    Пресненская набережная, д. 12 (метро Деловой центр МЦК)
                </div>
                <div class="footer__head-social">
                    <div class="footer-social__link">
                        <a href=""><img src="assets/images/fs-1.png" alt=""></a>
                    </div>
                    <div class="footer-social__link">
                        <a href=""><img src="assets/images/fs-facebook.png" alt=""></a>
                    </div>
                    <div class="footer-social__link">
                        <a href=""><img src="assets/images/fs-telegram.png" alt=""></a>
                    </div>
                    <div class="footer-social__link">
                        <a href=""><img src="assets/images/fs-youtube.png" alt=""></a>
                    </div>
                    <div class="footer-social__link">
                        <a href=""><img src="assets/images/fs-vk.png" alt=""></a>
                    </div>
                    <div class="footer-social__link">
                        <a href=""><img src="assets/images/fs-instagram.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__link">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="footer__link-block">
                        <div class="block-footer__title">
                            Сопровождение автоломбарда
                        </div>
                        <div class="block-footer__nav">
                            <a href="" > Консалтинг автоломбарда</a>
                            <a href="" > Бухгалтерсоке сопровождение</a>
                            <a href="" > Юридическое сопровождение</a>
                            <a href="" > Обязательные документы</a>
                            <a href="" > Готовые фирмы МКК/Ломбард</a>
                            <a href="" > Обучение специалистов</a>
                            <a href="" > Колл-центр для автоломбарда</a>
                            <a href="" > Сайт для автоломбарда и МКК</a>
                            <a href="" > Бизнес план для автоломбарда</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="footer__link-block">
                        <div class="block-footer__title">
                            Франшиза автоломбарда, МФО
                        </div>
                        <div class="block-footer__nav">
                            <a href="" > Франшиза автоломбарда FinLine-Автозайм</a>
                            <a href="" > Франшиза автоломбарда для СНГ</a>
                            <a href="" > Франшиза онлайн-автоломбарда</a>
                            <a href="" > Франшиза займы под залог недвижимости</a>
                            <a href="" > Франшиза ломбарда</a>
                            <a href="" > Кросс-услуги для автоломбарда</a>
                            <a href="" > Вопрос-ответ по франшизе</a>
                            <a href="" > Отзывы о франшизе</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="footer__link-block">
                        <div class="block-footer__title">
                            CRM и скоринг в автоломбарде
                        </div>
                        <div class="block-footer__nav">
                            <a href="" > CRM и скоринг в автоломбарде</a>
                            <a href="" > CRM для автоломбарда</a>
                            <a href="" > Чат-боты для автоломбарда</a>
                            <a href="" > Системы аналитики по авто</a>
                            <a href="" > Кредитный конвейер и скоринг заемщика</a>
                            <a href="" > Личный кабинет заемщика</a>
                            <a href="" > Мобильное приложение автоломбард</a>
                            <a href="" > Сайт для автоломбарда и МКК</a>
                            <a href="" > Поставка информации/интеграции</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="footer__link-block">
                        <div class="block-footer__title">
                            Открыть автоломбард
                        </div>
                        <div class="block-footer__nav">
                            <a href="" > Открыть ломбард</a>
                            <a href="" > Открыть комиссионный магазин</a>
                            <a href="" > Открыть МФО/МФК</a>
                            <a href="" > Открыть КПК</a>
                            <a href="" > Открыть Лизинговую компанию</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="footer__link-block">
                        <div class="block-footer__title">
                            О FinLine
                        </div>
                        <div class="block-footer__nav">
                            <a href="" > О компании</a>
                            <a href="" > СМИ о FinLine</a>
                            <a href="" > Новости и обзоры рынка</a>
                            <a href="" > Партнеры сети FinLine</a>
                            <a href="" > FinLine отзывы партнеров</a>
                            <a href="" > Карта партнерской сети</a>
                            <a href="" > Контакты</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="footer__link-block">
                        <div class="block-footer__title">
                            Маркетинг и клиенты
                        </div>
                        <div class="block-footer__nav">
                            <a href="" > Контекстная реклама для автоломбарда</a>
                            <a href="" > Лидогенерация для автоломбарда</a>
                            <a href="" > Комплексный маркетинг автоломбарда</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="footer__link-block">
                        <div class="block-footer__title">
                            Платежные системы
                        </div>
                        <div class="block-footer__nav">
                            <a href="" > Внедрение платежных систем</a>
                            <a href="" > Внедрение кобрендовых карт</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="footer__link-block">
                        <div class="block-footer__title">
                            Инвестиции в автоломбард
                        </div>
                        <div class="block-footer__nav">
                            <a href="" > Инвестиции в сеть FinLine-Автозайм</a>
                            <a href="" > Привлечение инвестиций в автоломбард/МФК</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
