<header class="header">
    <div class="container">
        <div class="header__top">
            <div class="header__top-logo">
                <img src="assets/images/logo.svg" alt="">
            </div>
            <div class="header__top-info">
                <a href="tel:+88007078275">8 800 707 82-75</a>
                <button class="btn btn--header">Заказать звонок</button>
            </div>
            <div class="header__top-burger">
                
            </div>
        </div>
    </div>
    <div class="line"></div>
    <div class="container">
        <div class="header__nav">
            <div class="header__nav-nav">
                <nav class="nav-header">
                    <ul class="ul-header">
                        <li class="nav__link"><a href="">О компании</a></li>
                        <li class="nav__link"><a href="">Консалтинговые услуги</a></li>
                        <li class="nav__link"><a href="">Франшиза онлайн-ломбарда</a></li>
                        <li class="nav__link"><a href="">Новости</a></li>
                        <li class="nav__link"><a href="">Инвестиции</a></li>
                        <li class="nav__link"><a href="">Вопрос-ответ</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="header__main">
            <div class="text-subtitle text-subtitle--header">
                Привлекаем инвестиции в действующие филиалы
            </div>
            <h1 class="title title--header">
                Инвестиции в автомобильный и залоговый бизнес
            </h1>
            <div class="p p--header">Привлекаем инвестиции в действующие филиалы сети FinLine-Автозайм в регионах России</div>
            <div class="header-button">
                <div class="button-block">
                    <button class="btn btn--download">Скачать презентацию</button>
                </div>
                <div class="consult-block">
                    <a href="" class="consult consult--header">Получить консультацию</a>
                </div>
            </div>
        </div>
    </div>
    <div class="header__footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="header__footer-block">
                        <div class="title-bold title-bold--header">
                            От 18 до 24% в год
                        </div>
                        <div class="p p--header-footer">
                            Каждый рубль ваших
                            инвестиций обеспечиваем
                            залогом на 2 рубля
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="header__footer-block">
                        <div class="title-bold title-bold--header">
                            Гибкие условия
                        </div>
                        <div class="p p--header-footer">
                            От 3 до 36 месяцев для
                            инвесторов со все страны.
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="header__footer-block">
                        <div class="title-bold title-bold--header">
                            Надежность
                        </div>
                        <div class="p p--header-footer">
                            Обеспечиваем высокую ставку надежной бизнес
                            моделью и ликвидным залогом
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="header__footer-block">
                        <div class="title-bold title-bold--header">
                            Опыт и репутация
                        </div>
                        <div class="p p--header-footer">
                            20 лет на рынке залогового
                            кредитования и консалтинга
                            автоломбардов.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-header">
        <div class="modal-burger">
                
        </div>
        <div class="block-modal">
            <div class="header__nav header__nav--modal">
                <div class="header__nav-nav header__nav-nav--modal">
                    <nav class="nav-header">
                        <ul class="ul-header ul-header--modal">
                            <li class="nav__link nav__link--modal"><a href="">О компании</a></li>
                            <li class="nav__link nav__link--modal"><a href="">Консалтинговые услуги</a></li>
                            <li class="nav__link nav__link--modal"><a href="">Франшиза онлайн-ломбарда</a></li>
                            <li class="nav__link nav__link--modal"><a href="">Новости</a></li>
                            <li class="nav__link nav__link--modal"><a href="">Инвестиции</a></li>
                            <li class="nav__link nav__link--modal"><a href="">Вопрос-ответ</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="header__top-info header__top-info--modal">
                <a href="tel:+88007078275">8 800 707 82-75</a>
                <button class="btn btn--header btn--header--modal">Заказать звонок</button>
            </div>
        </div>
    </div>
</header>
